
:root {
  font-family:"Jersey 20", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 background: url('@assets/images/blueSky.jpg');
 background-size: cover;
 background-position: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --red: #E96045;
  --red-dark: #832c1b;
  --yellow: #D0D985;
  --yellow-dark: #F7CA4D;
  --green: #37A693;
  --dark-blue: #212F3F;
  --light-blue: #38829D;
  --medium-blue: #2F667D;

  --dark-green: #24695e;

}

